doctype html
html
	head
		title Dan Smith's software engineering experience
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		script(async src='')
	body
		:markdown-it(plugins=['markdown-it-table-of-contents', 'markdown-it-link-target'])
			[google](http://google.com)
			[[toc]]
			## h
