doctype html
html
	head
		title Dan Smith's software engineering experience
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		script(async src='')
	body
		
