doctype html
html
	head
		title loading...
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
	body
		#message redirecting you to your destination in a moment...
		script: include:babel setup.js
		script(src='')
 
